@use "./colors" as *;

// Classic 3D coin (original coinflip view)
.coin-container {
	perspective: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}

.coin {
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
}

.coin .side {
	position: absolute;
	inset: 0;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: $normal-boxshadow;
	background: transparent;
}

.coin .side img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
}

.coin .side.tails {
	transform: rotateY(180deg);
}

.coin--heads {
	animation: flip-heads 2s forwards;
}

.coin--tails {
	animation: flip-tails 2s forwards;
}

@keyframes flip-heads {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(1800deg);
	}
}

@keyframes flip-tails {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(1980deg);
	}
}

.coinflip {
	&__btn {
		display: flex;
		align-items: center;
		margin: 0 2em;
		font-size: 1.8rem;

		&-img {
			margin-left: 0.7em;
			height: 30px;
			width: 30px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__lastdrops {
		padding: 1em;
		margin: 2em auto 0;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 20px;
		border: 1px solid $border-color;
		box-shadow: $normal-boxshadow;
		background: $dropbox-bg;
	}

	&__lastdropsbox {
		width: 100%;
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar-track {
			background-color: $main3-color;
		}

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $secondary-color;
		}
	}

	&__title {
		padding-bottom: 1em;
		font-size: 2rem;
		color: $secondary-color;
	}

	&__text {
		padding-bottom: 1em;
	}

	&__item {
		padding: 0.3em 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&-text--amount {
			width: 33%;
			text-align: right;
		}

		&-part {
			display: flex;
			align-items: center;
			width: 33%;
		}

		&-img {
			margin-left: 0.3em;
			width: 30px;
			height: 30px;
		}
	}
}
